
.nav { 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-gap: 10px; 
        width: 100%; 
    } 
.navitem{
 display: inline-block;
}
.navitem a{
    text-decoration: none;
    padding: 1rem;
    color: gray;
}
.bold{
    font-size: 2rem;
    font-weight: 700;
}

